<div class="row">
    <div class="btn-group text-center" role="group">
        <%# <button type="button" class="btn btn-info">8</button> %>
        <%= link_to "Admin", admin_path, class: "btn btn-info" %>
        <%= link_to "Friends", admin_friends_path, class: "btn btn-info" %>
        <%= link_to "Comments", admin_comments_path, class: "btn btn-info" %>
        <%= link_to "Users", admin_users_path, class: "btn btn-info" %>
        <%#= link_to "Show_Friend", admin_show_post_path, class: "btn btn-info" %>
    </div>
</div>